@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: Open Sans;
    background-color: #E3E6B9;
    color: #081626;
}

h1 {
    color: #F2E6E3;
    background-color: #2FB9C8;
    width: 750px;
    margin-bottom: 7%;
}

h2 {
    color: #F2E6E3;
    background-color: #2FB9C8;
    width: 550px;
}

h3 {
    color: #F2E6E3;
    background-color: #2FB9C8;
    width: 550px;
    margin-top: 5%;
}

p {
    width: 750px;
}

#image {
    width: 460px;
    height: auto;
    background-color: #7896A7;
    float: right;
}