@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: Open Sans;
    background-color: #EBEFF0;
    color: #081626;
}

h1, h2, h3 {
    color: #3082B7;
    background-color: #081626;
    width: 750px;
}

p {
    width: 750px;
}

#image {
    width: 750px;
    height: auto;
}